@using VakaxaIDServer.Constants
@using VakaxaIDServer.Quickstart.Security
@model VakaxaIDServer.Quickstart.Security.SecurityViewModel
@{
    var strTwoFa = Model.IsGoogleAuthenticator ? "Disable" : "Enable";
    var textBtnPhone = string.IsNullOrEmpty(Model.PhoneNumber) ? "Add PhoneNumber" : @Model.MobileModel.Confirmed ? "Change PhoneNumber" : "Confirm PhoneNumber";
}
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card m-b-20">
<div class="card-body">
<h4 class="mt-0 m-b-10 header-title color1 tx20">
    <i class="mdi mdi-security m-r-5"></i>Update
    your security
</h4>
<p class="text-muted m-b-20 ">Manage and update your personal security settings</p>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-custom" role="tablist">
    <li class="nav-item tab-security">
        <a class="nav-link @Model.ChangePassModel.TabShow" data-toggle="tab" href="#tab1" role="tab"
           aria-selected="@Model.ChangePassModel.IsTabSelected">
            <i class="mdi mdi-security-network"></i> Password
        </a>
    </li>
    <li class="nav-item tab-security">
        <a class="nav-link @Model.MobileModel.TabShow" data-toggle="tab" href="#tab2" role="tab" aria-selected="@Model.MobileModel.IsTabSelected">
            <i
                class="ti-mobile">
            </i> Mobile
        </a>
    </li>
    <li class="nav-item tab-security">
        <a class="nav-link @Model.LockScreenModel.TabShow" data-toggle="tab" href="#tab3" role="tab" aria-selected="@Model.LockScreenModel.IsTabSelected">
            <i
                class="mdi mdi-lock-open-outline">
            </i> Lockscreen
        </a>
    </li>
    <li class="nav-item tab-security">
        <a class="nav-link error @Model.DeactiveModel.TabShow" data-toggle="tab" href="#tab4" role="tab" aria-selected="@Model.DeactiveModel.IsTabSelected">
            <i
                class="mdi mdi-account-off">
            </i> Deactive
        </a>
    </li>
</ul>
<div class="m-t-10">
<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane @Model.ChangePassModel.TabShow" id="tab1" role="tabpanel">
    <form asp-controller="Security" asp-action="Index" method="post" id="form-ChangePassword">
        <div class="col-lg-8 col-sm-12 m-t-10 fl">
            <div>
                <h4 class="mt-0 header-title">VakaID Password</h4>
                <p class="text-muted m-b-20">Change your current password.</p>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">
                        Old
                        Password:
                    </label>
                    <div class="col-sm-9">
                        <input id="inputOldPass" class="form-control" asp-for="ChangePassModel.OldPassword" type="password">
                        <span asp-validation-for="ChangePassModel.OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">
                        New Password:
                    </label>
                    <div class="col-sm-9">
                        <input id="inputNewPass" class="form-control" asp-for="ChangePassModel.NewPassword" type="password">
                        <span asp-validation-for="ChangePassModel.NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">
                        Confirm New Password:
                    </label>
                    <div class="col-sm-9">
                        <input id="inputConfirmPass" class="form-control" asp-for="ChangePassModel.ConfirmPassword" type="password">
                        <span asp-validation-for="ChangePassModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <button type="submit" class="btn btn-primary waves-effect waves-light" id="btnChangePassword" disabled="disabled" data-toggle="modal">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary waves-effect m-l-5">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 m-t-10 fl">
            <div>
                <div class="directory-bg text-center">
                    <div class="directory-overlay">
                        <img class="img-thumbnail img-security nb" src="assets/background/p1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="tab-pane @Model.MobileModel.TabShow" id="tab2" role="tabpanel">
    <div class="col-lg-8 col-sm-12 m-t-10 fl">
        <h4 class="mt-0 header-title">Phone Security</h4>
        <p class="text-muted m-b-20">Update your phone security to more secure.</p>
        <div class="col-sm-6 fl mobile-tab mobile-tab-1">
            <i class="ti-mobile icon-security"></i>
            <div class="row">
                <label for="example-text-input" class="col-sm-12 col-form-label">
                    Phone
                    Number:
                </label>
                @if (!string.IsNullOrEmpty(Model.MobileModel.PhoneHide))
                {
                    <div class="col-sm-12 input-group">
                        <label class="col-form-label phone-number">
                            @Model.MobileModel.PhoneHide
                        </label>
                    </div>
                }
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <span class="badge badge-success">Primary</span>
                    @if (Model.MobileModel.Confirmed)
                    {
                        <span class="badge badge-success">Verified</span>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary waves-effect waves-light" data-toggle="modal" id="btnPhoneNumber">
                        @textBtnPhone
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 fl mobile-tab">
            <i class="ti-bell icon-security"></i>
            <div class="row">
                <label for="example-text-input" class="col-sm-12 col-form-label">
                    Enable Notifications:
                </label>
                <div class="input-group">
                    <div class="col-sm-12 m-t-10 m-b-5">
                        @{
                            var twoFaSms = "";
                            var twoFaGoogle = "";
                            var twoFaSmsDisable = "";
                            if (Model.TwoFactorEnable)
                            {
                                if (Model.MobileModel.IsTwoFaGoogle)
                                {
                                    twoFaGoogle = "checked";
                                }
                                else
                                {
                                    twoFaSms = "checked";
                                }
                            }
                            if (string.IsNullOrEmpty(Model.PhoneNumber))
                            {
                                twoFaSmsDisable = "disabled";
                                twoFaSms = "";
                            }
                        }
                        <input type="checkbox" id="swichTwoFaSms" switch="none" @twoFaSms @twoFaSmsDisable>
                        <label for="swichTwoFaSms" data-on-label="On" data-off-label="Off" class="fl">
                        </label>
                        <span class="on-off">SMS <span class="hidden-mob">Notifications</span></span>
                    </div>
                    <div class="col-sm-12 m-b-10">
                        <input type="checkbox" id="swichTwoFaGoogle" switch="none" @twoFaGoogle>
                        <label for="swichTwoFaGoogle" data-on-label="On" data-off-label="Off" class="fl">
                        </label>
                        <span class="on-off">Google <span class="hidden-mob">Authen</span></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary waves-effect waves-light"
                            data-toggle="modal" id="btnChangeTwoFa" disabled="disabled">
                        Change Two FA 
                    </button>
                    @*<button type="submit" class="btn btn-danger waves-effect waves-light"
                            data-toggle="modal" id="btnDisableTwoFa">
                        Disable
                    </button>*@
                    <label class="col-form-label mini db">
                        You can only select one of the notifications
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 m-t-10 fl">
        <div>
            <div class="directory-bg text-center">
                <div class="directory-overlay">
                    <img class="img-thumbnail img-security nb" src="assets/background/p2.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane @Model.LockScreenModel.TabShow" id="tab3" role="tabpanel">
    <div class="col-lg-8 col-sm-12 m-t-10 fl">
        <div>
            <h4 class="mt-0 header-title">Lockscreen Password</h4>
            <p class="text-muted m-b-20">
                Set your Lockscrren password to more
                secure.
            </p>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-3 col-form-label">
                    Lockscreen
                    Password:
                </label>
                <div class="col-sm-9">
                    <input class="form-control" type="password">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-3 col-form-label">
                    Confirm
                    Password:
                </label>
                <div class="col-sm-9">
                    <input class="form-control" type="password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <button type="submit" class="btn btn-primary waves-effect waves-light" data-toggle="modal">Submit</button>
                    <button type="reset" class="btn btn-secondary waves-effect m-l-5">Reset</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-3 col-form-label">
                    You
                    have set Lockscreen:
                </label>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target=".modal2d">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 m-t-10 fl">
        <div>
            <div class="directory-bg text-center">
                <div class="directory-overlay">
                    <img class="img-thumbnail img-security nb" src="assets/background/p3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane @Model.DeactiveModel.TabShow" id="tab4" role="tabpanel">
    <div class="col-lg-8 col-sm-12 m-t-10 fl mobile-tab">
        <div>
            <i class="mdi mdi-account-off icon-security"></i>
            <h4 class="mt-0 header-title">Deactive Account</h4>
            <p class="text-muted m-b-10">
                Temporarily lock your account, you can
                reopen it at any time.
            </p>
            <div class="form-group row m10">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target=".modal2d">
                        Deactive
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 m-t-10 fl">
        <div>
            <div class="directory-bg text-center">
                <div class="directory-overlay">
                    <img class="img-thumbnail img-security nb" src="assets/background/p4.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div><!-- end col -->
</div>
</div>

@*********************************** Moda Change password **********************************************@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalChangePass">
    <form asp-controller="Security" asp-action="Index" method="post" id="form-ChangePassword-Continue">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Confirm by phone</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter the 2-step verification code provided by SMS to your phone:</p>
                    <div class="input-group verify">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="mdi mdi-message-processing"></i>
                            </span>
                        </div>
                        <input class="form-control" type="text" maxlength="6" placeholder="000000">
                    </div>
                    <input id="inputhiddenOldPass" class="form-control" asp-for="ChangePassModel.OldPassword" type="hidden">
                    <input id="inputhiddenNewPass" class="form-control" asp-for="ChangePassModel.NewPassword" type="hidden">
                    <input id="inputhiddenConfirmPass" class="form-control" asp-for="ChangePassModel.ConfirmPassword" type="hidden">
                    @if (!Model.IsGoogleAuthenticator)
                    {
                        <p class="resend">Didn't receive the verification code?</p>
                        <a class="resend2" onclick="GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangePassword')">Re-send SMS</a>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="btnChangePasswordContinue" disabled="disabled"
                            data-toggle="modal">
                        Continue
                        <i id="loadingChangePasswordContinue" class='fa fa-spinner fa-spin' style="display: none"></i>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div>

@*********************************** Moda Change password **********************************************@
<div class="modal fade modal2a" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaAddPhone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Change Number</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="mobile-tab">
                    <i class="icon-security">
                        <img src="assets/icon/smartphone.svg" class="m-t-30 m-l-15"
                             alt="">
                    </i>
                    <div class="form-group">
                        <label class="control-label">Choose your country</label>
                        <select id="selectCountryCode" class="form-control select2">
                            @foreach (var item in Const.ListCountryModels)
                            {
                                if (item.Code.Equals(Model.MobileModel.CountryCode))
                                {
                                    <option value="@item.CallingCode" selected="selected">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.CallingCode">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-12 col-form-label">
                            Your
                            Number:
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span id="inputNewPhoneCode" class="input-group-text">
                                        @foreach (var item in Const.ListCountryModels)
                                        {
                                            if (item.Code.Equals(Model.MobileModel.CountryCode))
                                            {
                                                @item.CallingCode
                                            }
                                        }
                                    </span>
                                </div>
                                <input id="inputPhone" class="form-control" type="number" asp-for="MobileModel.PhoneNational" maxlength="6" aria-valuemax="6">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                </div>
            </div><!-- /.modal-content -->
            <div class="modal-footer">
                @{
                    var btnValue = string.IsNullOrEmpty(Model.PhoneNumber) ? MobileModel.TypeAddPhoneNumber : MobileModel.TypeChangePhoneNumber;
                }
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".modal1" value="@btnValue" id="btnModaPhoneNumber">
                    Countinue
                    <i id="loadingModaPhoneNumber" class='fa fa-spinner fa-spin' style="display: none"></i>
                </button>
            </div>
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaQrCode">
    <form asp-controller="Security" asp-action="Index" method="post" id="form-enable-twoFa-Google">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Enable Google Authenticator</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div id="qrCode"></div>
                    <div id="qrCodeData" data-url="@Model.Authenticator.AuthenticatorUri"></div>
                    <p class="resend">Authenticator Secret Code:*</p>
                    <div class="col-sm-12 input-group m-b-20">
                        <div class="input-group-append"><span class="input-group-text" onclick="copyTextSecret()">Copy</span></div>
                        <input class="form-control qr-code" type="text" placeholder="@Model.Authenticator.SharedKey" disabled id="inputShareKey">
                    </div>
                    <div class="col-sm-12 authen-content">
                        <p><i class="mdi mdi-numeric-1-box-multiple-outline"></i> Install an authenticator app on
                            your
                            mobile device if you don't already have one.</p>
                        <p><i class="mdi mdi-numeric-2-box-multiple-outline"></i> Scan QR code with the authenticator (or tap it in mobile bgit rowser)</p>
                        <p><i class="mdi mdi-numeric-3-box-multiple-outline"></i> Please write down or print a copy of the 16-digit secret code and put it in a safe
                            place</p>
                        <p><i class="mdi mdi-numeric-4-box-multiple-outline"></i> If your phone gets lost, stolen or erased, you will need this code to link VakaID to
                            a new authenticator app install once again</p>
                        <p><i class="mdi mdi-numeric-5-box-multiple-outline"></i> Do not share it with anyone. Be aware of phishing scams. We will never ask you for
                            this key</p>
                        <hr>
                        <p class="authen-code">Enter the 2-step verification code provided by your authen app:</p>
                        <div class="input-group verify">
                            <div class="input-group-append"><span class="input-group-text"><i class="ti-mobile"></i></span></div>
                            <input id="codeEnableTwoFaGoogle" class="form-control" type="text" asp-for="MobileModel.Code" maxlength="6" placeholder="000000">
                        </div>
                        <input id="inputMobileTypeEnableTwoFaGoogle" asp-for="MobileModel.Type" type="hidden" value="@MobileModel.TypeEnableTwoFaGoogle"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".modalfinal" id="btnModaEnableTwoFaGoogle">
                        Countinue <i id="loadingModaEnableTwoFaGoogle" class='fa fa-spinner fa-spin' style="display: none"></i>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div>

<div class="modal fade modal2b" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaVerifyEnableTwoFaSms">
    <form asp-controller="Security" asp-action="Index" method="post" id="form-enable-twoFa-sms">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Confirm by phone</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p id="modaTitleEnableTwoFa">Enter the 2-step verification code provided by SMS to your phone:</p>
                    <div class="input-group verify">
                        <div class="input-group-append"><span class="input-group-text"><i class="mdi mdi-message-processing"></i></span></div>
                        <input class="form-control" id="codeEnablesms" asp-for="MobileModel.Code" type="text" maxlength="6" placeholder="000000">
                        <input id="inputMobileTypeEnableTwoFaSms" asp-for="MobileModel.Type" type="hidden" value="@MobileModel.TypeEnableTwoFaSms"/>
                    </div>
                    @if (!Model.IsGoogleAuthenticator)
                    {
                        <p class="resend">Didn't receive the verification code?</p>
                        <a class="resend2" onclick="GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeTwoFactor')">Re-send SMS</a>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" id="btnModaEnableTwoFaSms">
                        Countinue <i id="loadingModaEnableSms" class='fa fa-spinner fa-spin' style="display: none"></i>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div>
<div class="modal fade modal2e" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaVerifyDisableTwoFa">
    <form asp-controller="Security" asp-action="Index" method="post" id="form-disable-twoFa">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @{
                        var modaDisableTwoFaMessage = "Enter the 2-step verification code provided by SMS to your phone:";
                        if (Model.MobileModel.IsTwoFaGoogle)
                        {
                            modaDisableTwoFaMessage = "Enter the 2-step verification code provided by Google Authen to your phone:";
                        }
                    }
                    <p class="text-center" id="modaTitleDisableTwoFa">@modaDisableTwoFaMessage</p>
                    <div class="input-group verify">
                        <div class="input-group-append"><span class="input-group-text"><i class="mdi mdi-message-processing"></i></span></div>
                        <input class="form-control" id="codeDisableTwoFa" asp-for="MobileModel.Code" type="text" maxlength="6" placeholder="000000">
                        <input id="inputMobileTypeDisableTwoFa" asp-for="MobileModel.Type" type="hidden" value="@MobileModel.TypeDisableTwoFa"/>
                    </div>
                    @if (Model.MobileModel.IsTwoFaGoogle)
                    {
                        <p class="resend">Didn't receive the verification code?</p>
                        <a class="resend2" onclick="GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeTwoFactor')">Re-send SMS</a>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnModaDisableTwoFa"><i class="mdi mdi-close-circle"></i> Disable
                        <i id="loadingModaDisableTwoFa" class='fa fa-spinner fa-spin' style="display: none"></i></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaVerifyPhoneNumber">
    <form asp-controller="Security" asp-action="Index" method="post" id="form-VerifyPhoneNumber">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Confirm by phone</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter the 2-step verification code provided by SMS to your phone:</p>
                    <div class="input-group verify">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="mdi mdi-message-processing"></i>
                            </span>
                        </div>
                        <input class="form-control" id="CodePhoneNumber" asp-for="MobileModel.Code" type="text" maxlength="6" placeholder="000000">
                        <input asp-for="PhoneNumber" type="hidden"/>
                        <input id="typeSubmitPhone" asp-for="MobileModel.Type" type="hidden" value="@textBtnPhone"/>
                        <input id="callingCode" asp-for="MobileModel.CallingCode" type="hidden"/>
                        <input id="phoneNational" asp-for="MobileModel.PhoneNational" type="hidden"/>
                    </div>
                    @if (Model.MobileModel.IsTwoFaGoogle)
                    {
                        <p class="resend">Didn't receive the verification code?</p>
                        <a class="resend2" onclick="GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeTwoFactor')">Re-send SMS</a>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" id="btnVerifyPhoneNumber" value="@textBtnPhone">
                        Countinue
                        <i id="loadingVerifyPhoneNumber" class='fa fa-spinner fa-spin' style="display: none"></i>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div>

<div class="modal fade modal2d" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaQuestionDiactive">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <i class="mdi mdi-close-circle-outline icon-danger"></i>
            <p class="header-danger">Are You Sure?</p>
            <p class="content-danger m-b-10">This will Deactive account!</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                        data-target=".modalDeactive">Countinue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade modalDeactive" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalDeactive">
    <form asp-controller="Security" asp-action="Index" method="post" id="form-deactive">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @{
                        var modaDeactiveMessage = "Enter the 2-step verification code provided by SMS to your phone:";
                        if (Model.MobileModel.IsTwoFaGoogle)
                        {
                            modaDeactiveMessage = "Enter the 2-step verification code provided by Google Authen to your phone:";
                        }
                    }
                    <p class="text-center">@modaDeactiveMessage</p>
                    <div class="input-group verify">
                        <div class="input-group-append"><span class="input-group-text"><i class="mdi mdi-message-processing"></i></span></div>
                        <input class="form-control" asp-for="DeactiveModel.Code" type="text" maxlength="6" placeholder="000000">
                    </div>
                    <p class="resend">Didn't receive the verification code?</p>
                    <a href="" class="resend2">Re-send SMS</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDeactive"><i class="mdi mdi-close-circle"></i> Disable
                        <i id="loadingModalDeactive" class='fa fa-spinner fa-spin' style="display: none"></i></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaSuccess">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <i class="icon-success">
                <img src="assets/icon/success.svg" alt="">
            </i>
            <p class="header-success">You Done!</p>
            <p class="content-success"id="txtModaSuccess">You successfully {name of this action}!</p>
            <button type="button" class="btn btn-primary close-button" data-dismiss="modal">Close</button>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaError">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <i class="mdi mdi-close-circle-outline icon-danger"></i>
            <p class="header-success">You Error!</p>
            <p class="content-success" id="txtModaError">You Error {name of this action}!</p>
            <button type="button" class="btn btn-primary close-button" data-dismiss="modal">Close</button>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- end container-fluid -->
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/security.js"></script>
    <script>
        //Ready pager
        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }
            $(document.body).on("click", "a[data-toggle]", function(event) {
                location.hash = this.getAttribute("href");
            });
            if ('@Model.ChangePassModel.IsTabSelected' === 'True') {
                if ('@Model.ChangePassModel.Status' === '@SecurityViewModel.StatusError') {
                    $('#modaError').modal('show');
                    $('#txtModaError').text('You change password error. Please input code and try again.');
                } else if ('@Model.ChangePassModel.Status' === '@SecurityViewModel.StatusSuccess') {
                    $('#modalChangePass').modal('hide');
                    $('#modaSuccess').modal('show');
                    $('#txtModaSuccess').text('You change password success.');
                } else {
                    $('#modalChangePass').modal('hide');
                    $('#modaSuccess').modal('hide');
                }
            } else if ('@Model.MobileModel.IsTabSelected' === 'True') {
                if ('@Model.MobileModel.Status' === '@SecurityViewModel.StatusError') {
                    if ('@Model.MobileModel.Type' === '@MobileModel.TypeAddPhoneNumber') {
                        $('#txtModaError').text('Add Phone number error. Please try again.');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeChangePhoneNumber') {
                        $('#txtModaError').text('Change Phone Number error. Please try again.');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeConfirmPhoneNumber') {
                        $('#txtModaError').text('Confirm Phone Number error. Please try again.');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeEnableTwoFaSms') {
                        $('#txtModaError').text('Enable Sms Two FA error. Please try again.');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeEnableTwoFaGoogle') {
                        $('#txtModaError').text('Enable Google Two FA error. Please try again.');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeDisableTwoFa') {
                        $('#txtModaError').text('Disable Two FA error. Please try again.');
                    }

                    $('#modaError').modal('show');
                } else if ('@Model.MobileModel.Status' === '@SecurityViewModel.StatusSuccess') {
                    if ('@Model.MobileModel.Type' === '@MobileModel.TypeAddPhoneNumber') {
                        $('#txtModaSuccess').text('Add Phone number success.');
                        $('#modaSuccess').modal('show');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeChangePhoneNumber') {
                        $('#txtModaSuccess').text('Change Phone Number success.');
                        $('#modaSuccess').modal('show');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeConfirmPhoneNumber') {
                        $('#txtModaError').text('Confirm Phone Number success.');
                        $('#modaSuccess').modal('show');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeEnableTwoFaSms') {
                        $('#txtModaSuccess').text('Enable Sms Two FA success.');
                        $('#modaSuccess').modal('show');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeEnableTwoFaGoogle') {
                        $('#txtModaSuccess').text('Enable Google Two FA success.');
                        $('#modaSuccess').modal('show');
                    } else if ('@Model.MobileModel.Type' === '@MobileModel.TypeDisableTwoFa') {
                        $('#txtModaSuccess').text('Disable Two FA success.');
                        $('#modaSuccess').modal('show');
                    }
                    else if ('@Model.MobileModel.Type' === '@MobileModel.TypeChangeTwoFaSmsToGoogle') {
                        $('#codeEnableTwoFaGoogle').val("");
                        $('#modaQrCode').modal('show');
                    }
                    else if ('@Model.MobileModel.Type' === '@MobileModel.TypeChangeTwoFaGoogleToSms') {
                        $('#txtModaSuccess').text('Enable Sms Two FA success.');
                        $('#modaSuccess').modal('show');
                    }
                } else {
                    $('#modalChangePass').modal('hide');
                    $('#modaSuccess').modal('hide');
                }

            } else if ('@Model.LockScreenModel.IsTabSelected' === 'True') {


            } else if ("@Model.DeactiveModel.IsTabSelected" === 'True') {
                if ('@Model.ChangePassModel.Status' === '@SecurityViewModel.StatusError') {
                    $('#modaError').modal('show');
                    $('#txtModaError').text('Deactive account error. Please input code and try again.');
                } else if ('@Model.ChangePassModel.Status' === '@SecurityViewModel.StatusSuccess') {
                    $('#modalChangePass').modal('hide');
                    $('#modaSuccess').modal('show');
                    $('#txtModaSuccess').text('Deactive account success.');
                } else {
                    $('#modalChangePass').modal('hide');
                    $('#modaSuccess').modal('hide');
                }
            }
        });
        
        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });

        // Change Password
        var $formChangePass = $("#form-ChangePassword");
        var $btnChangePassword = $("#btnChangePassword");

        $formChangePass.on('keyup change paste',
            'input, select, textarea',
            function() {
                if ($formChangePass.valid()) {
                    console.log("formChangePass valid");
                    $btnChangePassword.prop('disabled', false);
                } else {
                    console.log("formChangePass InValid");
                    $btnChangePassword.prop('disabled', true);
                }

            });
        $btnChangePassword.click(function() {
//            $(this).prop('disabled', true);
//            var x = document.getElementById("loadingChangePassword");
//            x.style.display = "inline-block";
            if ('@Model.TwoFactorEnable' === 'True') {
                $('#modalChangePass').modal('show');
                if ('@Model.IsGoogleAuthenticator' === 'False') {
                    GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangePassword');
                }
                $('#inputhiddenOldPass').val($('#inputOldPass').val());
                $('#inputhiddenNewPass').val($('#inputNewPass').val());
                $('#inputhiddenConfirmPass').val($('#inputConfirmPass').val());
            } else {
                $(this).closest("form").submit();
            }
        });
        //Continue change pass
        var $formChangePassContinue = $("#form-ChangePassword-Continue");
        var $btnChangePasswordContinue = $("#btnChangePasswordContinue");

        $formChangePassContinue.on('keyup change paste',
            'input, select, textarea',
            function() {
                if ($formChangePassContinue.valid()) {
                    $btnChangePasswordContinue.prop('disabled', false);
                } else {
                    $btnChangePasswordContinue.prop('disabled', true);
                }
            });
        $btnChangePasswordContinue.click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loadingChangePasswordContinue");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });

        //Add Phone Number:
        var $btnPhoneNumber = $("#btnPhoneNumber");
        $btnPhoneNumber.click(function() {
//            $(this).prop('disabled', true);
//            var x = document.getElementById("loadingPhoneNumber");
//            x.style.display = "inline-block";
            if ('@string.IsNullOrEmpty(Model.PhoneNumber)' === 'True') {
                $('#modaAddPhone').modal('show');
            } else if ('@Model.MobileModel.Confirmed' === 'True') {
                $('#modaAddPhone').modal('show');
            } else {
                $('#verifyPhoneNumber').modal('show');
                GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeConfirmPhoneNumber');
            }
        });
        // Selected phone number
        $('#selectCountryCode').change(function() {
            $("#inputNewPhoneCode").text(this.value);
//            $("#countryIndex").val($('#selectCountryCode option:selected').index());
        });

        //Show verify new phone number
        var $btnModaPhoneNumber = $("#btnModaPhoneNumber");
        $btnModaPhoneNumber.click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loadingModaPhoneNumber");
            x.style.display = "inline-block";
            $("#phoneNational").val($("#inputPhone").val());
            $("#callingCode").val($('#selectCountryCode option:selected').val());
            $('#modaVerifyPhoneNumber').modal('show');
            $('#modaAddPhone').modal('hide');
            if ('@string.IsNullOrEmpty(Model.PhoneNumber)' === 'True') {
                GenerateSMSCode('@Model.Email', '@Const.TypeGenerateAddPhoneNumber');
            } else if ('@Model.MobileModel.Confirmed' === 'True') {
                GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeNewPhoneNumber');
            }
        });

        //Resend Phone number
        var $btnResendVerifyPhone = $("#btnResendVerifyPhonenumber");
        $btnResendVerifyPhone.click(function() {
            if ('@string.IsNullOrEmpty(Model.PhoneNumber)' === 'True') {
                GenerateSMSCode('@Model.Email', '@Const.TypeGenerateAddPhoneNumber');
            } else if ('@Model.MobileModel.Confirmed' === 'False') {
                GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeNewPhoneNumber');
            } else {
                GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeConfirmPhoneNumber');
            }
        });

        //Verify Phone Number
        var $btnVerifyPhoneNumber = $("#btnVerifyPhoneNumber");
        $btnVerifyPhoneNumber.click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loadingVerifyPhoneNumber");
            x.style.display = "inline-block";
//            $("#typeSubmitPhone").val($('@textBtnPhone'));
            $(this).closest("form").submit();
        });


        //TwoFa
        $('#swichTwoFaSms').on('change.bootstrapSwitch',
            function(e) {
                var isOnTwoFaSms = 'False';
                var isOnTwoFaGoogle = 'False';

                if ($(this).prop("checked") === true) {
                    isOnTwoFaSms = 'True';
                    console.log('bootstrapSwitch: ON');
                    $("#swichTwoFaGoogle").prop("checked", false);
                }
                if ($("#swichTwoFaGoogle").prop("checked") === true) {
                    isOnTwoFaGoogle = 'True';
                }
                if (isOnTwoFaGoogle === '@Model.MobileModel.IsTwoFaGoogle' &&
                    isOnTwoFaSms === '@Model.MobileModel.IsTwoFaSms') {
                    $("#btnChangeTwoFa").prop('disabled', true);
                } else {
                    $("#btnChangeTwoFa").prop('disabled', false);
                }
            });
        $('#swichTwoFaGoogle').on('change.bootstrapSwitch',
            function(e) {
                var isOnTwoFaSms = 'False';
                var isOnTwoFaGoogle = 'False';
                if ($(this).prop("checked") === true) {
                    isOnTwoFaGoogle = 'True';
                    console.log('bootstrapSwitch: ON');
                    $("#swichTwoFaSms").prop("checked", false);
                }
                if ($("#swichTwoFaSms").prop("checked") === true) {
                    isOnTwoFaSms = 'True';
                }
                console.log('bootstrapSwitch ==>> swichTwoFaGoogle ==>> isOnTwoFaGoogle: ' +
                    isOnTwoFaGoogle +
                    ' ==>> isOnTwoFaSms:  ' +
                    isOnTwoFaSms +
                    ' ==>> Model.MobileModel.IsTwoFaGoogle: @Model.MobileModel.IsTwoFaGoogle ==>> Model.MobileModel.IsTwoFaSms:  @Model.MobileModel.IsTwoFaSms');
                if (isOnTwoFaGoogle === '@Model.MobileModel.IsTwoFaGoogle' &&
                    isOnTwoFaSms === '@Model.MobileModel.IsTwoFaSms') {

                    $("#btnChangeTwoFa").prop('disabled', true);
                } else {
                    $("#btnChangeTwoFa").prop('disabled', false);
                }
            });

        var $btnChangeTwoFa = $("#btnChangeTwoFa");
        $btnChangeTwoFa.click(function() {
//            $(this).prop('disabled', true);
//            var x = document.getElementById("loadingChangeTwoFa");
//            x.style.display = "inline-block";
            if ('@string.IsNullOrEmpty(Model.PhoneNumber)' === 'False') {
                if ('@Model.TwoFactorEnable' === 'True') {
                    if ($('#swichTwoFaSms').prop("checked") === true) {
                        $('#modaTitleEnableTwoFa')
                            .text('Enter the 2-step verification code provided by Google Authen to your phone:');
                        $('#codeEnablesms').val('');
                        $('#inputMobileTypeEnableTwoFaSms').val('@MobileModel.TypeChangeTwoFaGoogleToSms');
                        $('#modaVerifyEnableTwoFaSms').modal('show');
                    }else if ($('#swichTwoFaGoogle').prop("checked") === true) {
                        GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeTwoFactor');
                        $('#modaTitleEnableTwoFa')
                            .text('Enter the 2-step verification code provided by Sms to your phone:');
                        $('#inputMobileTypeEnableTwoFaSms').val('@MobileModel.TypeChangeTwoFaSmsToGoogle');
                        $('#codeEnablesms').val('');
                        $('#modaVerifyEnableTwoFaSms').modal('show');
                    } else {
                        if ('@Model.IsGoogleAuthenticator' === 'True') {
                            $('#modaTitleDisableTwoFa')
                                .text('Enter the 2-step verification code provided by Google Authen to your phone:');
                        } else {
                            $('#modaTitleDisableTwoFa')
                                .text('Enter the 2-step verification code provided by SMS to your phone:');
                        }
                        $('#modaVerifyDisableTwoFa').modal('show');
                    }
                } else {
                    if ($('#swichTwoFaSms').prop("checked") === true) {
                        GenerateSMSCode('@Model.Email', '@Const.TypeGenerateChangeTwoFactor');
                        $('#codeEnablesms').val('');
                        $('#modaTitleEnableTwoFa')
                            .text('Enter the 2-step verification code provided by Sms to your phone:');
                        $('#modaVerifyEnableTwoFaSms').modal('show');
                    } else if ($('#swichTwoFaGoogle').prop("checked") === true) {
                        $('#modaQrCode').modal('show');
                    } else {
                        if ('@Model.IsGoogleAuthenticator' === 'True') {
                            $('#modaTitleDisableTwoFa')
                                .text('Enter the 2-step verification code provided by Google Authen to your phone:');
                        } else {
                            $('#modaTitleDisableTwoFa')
                                .text('Enter the 2-step verification code provided by SMS to your phone:');
                        }
                        $('#codeDisableTwoFa').val('');
                        $('#modaVerifyDisableTwoFa').modal('show');
                    }
                }
            } else {
                if ($('#swichTwoFaGoogle').prop("checked") === true) {
                    $('#modaQrCode').modal('show');
                } else {
                    $('#modaTitleDisableTwoFa')
                        .text('Enter the 2-step verification code provided by Google Authen to your phone:');
                    $('#modaVerifyDisableTwoFa').modal('show');
                }
            }
        });

        $("#btnModaEnableTwoFaSms").click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loadingModaEnableSms");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });
        $("#btnModaEnableTwoFaGoogle").click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loadingModaEnableTwoFaGoogle");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });
        $("#btnModaDisableTwoFa").click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loadingModaDisableTwoFa");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });

        $("#btnDeactive").click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loadingModalDeactive");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });

    </script>
    <script src="~/lib/qrcodejs/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.Authenticator.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}

@*@section Scripts {
    <script src="~/js/security.js">
    </script>
    <script src="~/lib/qrcodejs/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.Authenticator.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>

    <script>
        $('#selectCountryCode').change(function() {
            $("#inputNewPhoneCode").text(this.value);
            $("#countryIndex").val($('#selectCountryCode option:selected').index());
        });
        $('#verifyOldPhone').on('hidden.bs.modal',
            function() {
                $("#inputVerifyOldPhone").val('');
                $("#verifyOldPhoneError").text('');
            });
//        $('#verifyNewPhone').on('shown.bs.modal',
//            function() {
//                $("#inputPhone").val('');
//                $("#inputVerifyNewPhone").text('');
//                $("#verifyNewPhoneError").text('');
//            });
        $('#verifyNewPhone').on('hidden.bs.modal',
            function() {
                $("#inputPhone").val('');
                $("#inputVerifyNewPhone").text('');
                $("#verifyNewPhoneError").text('');
            });

        $('#twoFa').on('hidden.bs.modal',
            function() {
                $("#changeTwoFactorCode").val('');
                $("#verifyTwoFaError").text('');
            });
        $('#lockScreen').on('hidden.bs.modal',
            function() {
                $("#lockScreenError").val('');
            });
        $('#verifyLockScreen').on('hidden.bs.modal',
            function() {
                $("#inputVerifyLockScreen").val('');
                $("#").val('');
            });
        $('#lockAccount').on('hidden.bs.modal',
            function() {
                $("#inputLockAccount").val('');
                $("#lockAccountError").text('');
            });
    </script>
}*@